@using Microsoft.Extensions.Localization
@using RewardsAndRecognitionSystem.Localization
@inject IStringLocalizer<SharedResource> localizer
@model (int currentPage, int totalPages, string actionName)
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <!-- Left: Page info -->
        <div class="fw">
            @localizer["Showing page"] @Model.currentPage @localizer["of"] @Model.totalPages
        </div>


        <!-- Right: Pagination controls -->
        <nav>
            <ul class="pagination mb-0">
                <!-- Previous -->
                <li class="page-item @(Model.currentPage == 1 ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="@Model.actionName"
                       asp-route-page="@(Model.currentPage - 1)">
                        @localizer["Previous"]
                    </a>
                </li>

                <!-- Current Page Number -->
                <li class="page-item active">
                    <span class="page-link">
                        @Model.currentPage
                    </span>
                </li>

                <!-- Next -->
                <li class="page-item @(Model.currentPage == Model.totalPages ? "disabled" : "")">
                    <a class="page-link"
                       asp-action="@Model.actionName"
                       asp-route-page="@(Model.currentPage + 1)">
                        @localizer["Next"]
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
