@using Microsoft.Extensions.Localization
@using RewardsAndRecognitionSystem.Localization
@inject IStringLocalizer<SharedResource> localizer
@inject IStringLocalizer<RewardsAndRecognitionSystem.Localization.SharedResource> localizer
@model RewardsAndRecognitionSystem.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Create Category";
}
<style>
    .btn-indigo {
        background: #303f9f;
        color: white;
    }

        .btn-indigo:hover {
            background: #303f9f;
            color:white;
        }

    .btn-danger {
        background: #c62828;
        color: white;
    }

        .btn-danger:hover {
            background: #b71c1c;
            color: white
        }
</style>

<h2 class="mb-4">@localizer["CreateCategoryTitle"]</h2>

<div class="card shadow-sm border-0 p-4" style="max-width: 600px; margin: auto;">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Name" class="form-label">@localizer["Name"]</label><span class="text-danger">*</span>
            <input asp-for="Name" class="form-control border-dark-subtle" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label">@localizer["Description"]</label><span class="text-danger">*</span>
            <textarea asp-for="Description" class="form-control border-dark-subtle" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3 form-check form-switch">
            <input asp-for="isActive" class="form-check-input" type="checkbox" checked />
            <label asp-for="isActive" class="form-check-label">@localizer["Is Active"]</label>
        </div>

        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-danger  px-4">@localizer["Cancel"]</a>
            <button type="submit" class="btn btn-indigo px-4">@localizer["Create"]</button>
        </div>
    </form>
</div>

